@font-face {
    font-family: "Gilroy-Light";
    src: url("./Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("./Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf");
}

body {
    font-family: "Gloria Hallelujah", "Gilroy-Light", "Gilroy-ExtraBold" sans-serif;
}

h1 {
    font-family: "Gloria Hallelujah";
    text-align: center;
    font-size: 48px;

}

ul {
    font-family: "Gloria Hallelujah";
    width: 1290px;
    height: 490px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.recipe_list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;

    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 10px;

    width: 1300px;
    height: 500px;
    
    font-size: 20px;
    text-align: center;
}

.recipe {
    flex-direction: column;
    display: flex;
    float: left;
    padding: 5px;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 450px;
    text-align: center;
    transition: width 2s, height 2s;
}

a{
    text-decoration: none;
    color: black
}

p {
    margin: 0px;
}


.recipe_list:not(:hover){
    transform: scale(1,1);
    transition: all 1s ease-in-out;

}

#guacamole.recipe:hover ~ .recipe{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
} 

#borscht.recipe:hover ~ .recipe{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
} 

#margarita.recipe:hover ~ .recipe{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;

}

.recipe:not(:hover) {
    transform: scale(1,1);
    transition: all 0.8s ease-in-out;

} 

#guacamole.recipe:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

#borscht.recipe:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

#margarita.recipe:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

.recipe_list:hover .recipe {
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
    filter: blur(8px)
}

.description,
.description_guacamole,
.description_margarita,
.ingredients ul,
.steps  {
    font-family: "Gilroy-Light";
}



.individual_image {
    width: auto;
    height: 400px;
    margin: auto auto auto 0px;
    float: left;
}

.description {    
    padding: 35px;
    
    width: 600px;
    height: 400px;

    margin: -435px 350px 0px 360px;
    float: left;
}

.description_guacamole {
    padding: 35px;

    margin: -35px 350px 0px 0px;
    float: left;

    text-align: left;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_margarita {
    padding: 35px;

    margin: -35px 350px 0px 0px;
    float: left;

    text-align: left;
    width: 600px;
    height: 400px;

}

.container {
    text-align: left;
    width: 600px;
    height: 400px;
}

.centerwrapper {  
    margin: auto;
    vertical-align: center;
    width: 1200px;
}


.ingredients h3,
.ingredients ul {
    display: block;
    text-align: left;
    float: left;
}

.ingredients h3,
.steps h3 {
    font-family: "Gilroy-ExtraBold";
    font-size: 32px;
    font-weight: 300;
}

.ingredients h3 {
    margin-top: 20px;

    padding: 20px;
    width: 1800px;
    height: auto;
    
    border-bottom: 1rem solid rgba(40,40,40,.25);
    border-bottom-width: 1px;
    
}

.ingredients ul {
    width: 460px;
    height: 400px;

    padding: 20px;

    margin: -20px 350px 0px 0px;
    text-align: left;

}

label.strikethrough {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}

.steps h3 {
    align-self: auto;
}

.steps{
    text-align: left;
    float: left;
    width: 1330px;
    height: 470px;
    margin-top: -545px;
    margin-left: 550px;  
}

.steps ol {
    width: 1000px;
    height: 400px;

    padding: 0px;

    margin: 20px 350px 0px 0px;
    text-align: left;
    display: inline-block;
}

.steps label  {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -25px;
    margin-left: 20px;

    width: 1000px;
    height: 13px;
    text-align: left;
    vertical-align: bottom;
    align-items: center;
}


.steps input[type=checkbox] {
    margin: 3px 3px 3px 4px;
}

.steps li {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
}

.recipe_bar {
    height: 80px;
}
.recipe_list_other_page {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;
    margin-left: 250px;
    margin-right: 150px;
    margin-bottom: 150px;

    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 10px;

    width: 1300px;
    height: 35px;
    
    font-size: 20px;
    text-align: center;
}
.list_other_page {
    width: 1800px;
    height: 60px;
    flex-direction: row;
}
.recipe_other_page {
    flex-direction: column;
    display: flex;
    float: left;
    padding: 5px;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 35px;
    text-align: center;
    transition: width 2s, height 2s;
}

.recipe_list_other_page:not(:hover){
    transform: scale(1,1);
    transition: all 1s ease-in-out;
}

#guacamole_other_page.recipe_other_page:hover ~ .recipe_other_page{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
} 

#borscht_other_page.recipe_other_page:hover ~ .recipe_other_page{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
} 

#margarita_other_page.recipe_other_page:hover ~ .recipe_other_page{
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;

}

.recipe_other_page:not(:hover) {
    transform: scale(1,1);
    transition: all 0.8s ease-in-out;

} 

#guacamole_other_page.recipe_other_page:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

#borscht_other_page.recipe_other_page:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

#margarita_other_page.recipe_other_page:hover {
    transform: scale(1.2,1.2);
    transition: all 1s ease-in-out;
    filter: blur(0);
} 

.recipe_list_other_page:hover .recipe_other_page {
    transform: scale(0.8,0.8);
    transition: all 1s ease-in-out;
    filter: blur(8px)
}